@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");
$font-moserrat: "Montserrat", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&family=Noto+Sans+Mono:wght@400;500;700&display=swap");
$font-noto-sans: "Noto Sans", sans-serif;
$font-noto-sans-mono: "Noto Sans Mono", monospace;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
$font-inter: "Inter", sans-serif;

// с padding 16px;
$width-page: 1380px;

$color-yelow: #f68132;
$color-yelow-dark: #e5b52c;
$color-black: #0a0a0a;
$color-back: #f0f0f0;
$color-white: #ffffff;
$color-disable: #b8b7b7;
$transitionIn: 0.3s ease-in;
$transitionOut: 0.3s ease-out;

:root {
  --hight-languages-item: 44px;
}
